<div style="display: block; position: relative; width: 980px; margin: 0 auto;">
	<header style="font-style: italic; text-transform: uppercase;">
		<h1>code igniter auth <span style="font-size: .5em; letter-spacing: .125em;">2.0</span></h1>
		<?php include('login-form.html'); ?>
	</header>
	<section class="clearfix">
		<p><strong>CI_Auth</strong>, is a set of libraries, that contains libraries for handling authentication, inspired by Django authentication. These libraries are <strong><em>Auth, Login_required, Permission_required, Group_required, Pass_test_required and Syncdb</em></strong>.</p>
		<p>For more information, of CI_Auth or libraries. Go to <a href="https://github.com/danilobrinu/ci_auth/wiki/_pages">GitHub CI_Auth</a> </p>
	</section>
	<?php include('footer.html'); ?>
</div>