<ul class="menu-list text-center">
	<li><a href="<?php echo site_url("admin_site"); ?>">home</a></li>
	<li><a href="<?php echo site_url("admin_site/users"); ?>">users</a></li>
	<li><a href="<?php echo site_url("admin_site/groups"); ?>">groups</a></li>
	<li><a href="<?php echo site_url("admin_site/permissions"); ?>">permissions</a></li>
	<li><a href="<?php echo site_url("admin_site/users_groups"); ?>">users groups</a></li>
	<li><a href="<?php echo site_url("admin_site/groups_permissions"); ?>">groups permissions</a></li>
	<li><a href="<?php echo site_url("admin_site/users_permissions"); ?>">users permissions</a></li>
	<li><a href="<?php echo site_url("admin_site/logout"); ?>">logout</a></li>
</ul>