<ul class="menu-list text-center">
	<li><a href="<?php echo site_url("admin_site/users"); ?>">Users</a></li>
	<li><a href="<?php echo site_url("admin_site/groups"); ?>">Groups</a></li>
	<li><a href="<?php echo site_url("admin_site/permissions"); ?>">Permissions</a></li>
	<li><a href="<?php echo site_url("admin_site/users_groups"); ?>">Users groups</a></li>
	<li><a href="<?php echo site_url("admin_site/groups_permissions"); ?>">Groups permissions</a></li>
	<li><a href="<?php echo site_url("admin_site/users_permissions"); ?>">Users permissions</a></li>
	<li><a href="<?php echo site_url("admin_site/logout"); ?>">Logout</a></li>
</ul>